<div class="container">
  <div class="row">
    <h2>Bus Listings</h2>
    <div *ngIf="showAddBtn" class="col-md-4">
      <button type="submit" class="btn btn-default" (click)="toggleForm()">{{addFormText}}</button>
    </div>

    <div *ngIf="showAddForm" class="col-md-12">
      <form class="form-inline" [formGroup]="busForm" (ngSubmit)="addBus()">
        <div class="form-group">
          <label for="name">Bus Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="type">Bus Type</label>
          <select class="form-control" id="type" formControlName="type" required>
            <option *ngFor="let busType of busTypes" [value]="busType">{{busType}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="station">Station</label>
          <select class="form-control" formControlName="station" required>
            <option *ngFor="let station of stations" [ngValue]="station">{{station.name}}</option>
          </select>
        </div>
        <p *ngIf="!isBusSlotFree" class="form-group">There is no free slot in this station.</p>
        <button type="submit" class="btn btn-success">Add Bus</button>
        <button type="submit" class="btn btn-default" (click)="toggleForm()">Cancel</button>
      </form>
    </div>
    <div *ngIf="showEditForm" class="col-md-12">
      <form class="form-inline" [formGroup]="busForm" (ngSubmit)="editBus()">
        <div class="form-group">
          <label for="name">Bus Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="type">Bus Type</label>
          <select class="form-control" id="type" formControlName="type" required>
            <option *ngFor="let busType of busTypes" [value]="busType">{{busType}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="station">Station</label>
          <select class="form-control" formControlName="station" required>
            <option *ngFor="let station of stations" [ngValue]="station">{{station.name}}</option>
          </select>
        </div>
        <p *ngIf="!isBusSlotFree" class="form-group">There is no free slot in this station.</p>
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default" (click)="closeEditForm()">Cancel</button>
      </form>
    </div>
  </div>
  <div class="col-md-12">
    <section class="content">
      <div class="table-container">
        <div class="form-inline pull-right">
          <div class="form-group">
            <label for="sort">Filter By:</label>
          </div>
          <div class="form-group">
            <label for="bus-name">Bus Number: </label>
            <input type="text" class="form-control" #busNum (keyup)="filterBy(busNum.value, 'plateNumber')">
          </div>
          <div class="form-group">
            <label for="type">Bus Type: </label>
            <select class="form-control" #busType (change)="filterBy(busType.value, 'type')">
              <option value="all">All</option>
              <option *ngFor="let busType of busTypes" [value]="busType">{{busType}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="station">Station: </label>
            <select class="form-control" #busStation (change)="filterBy(busStation.value, 'station')">
              <option value="all">All</option>
              <option *ngFor="let station of stations" [value]="station.id">{{station.name}}</option>
            </select>
          </div>
        </div>
        <table class="table table-filter">
          <thead>
            <th>S/N</th>
            <th>Name</th>
            <th>Bus Number</th>
            <th>Bus Type</th>
            <th>Bus Station</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let bus of buses | paginate: { itemsPerPage: 10, currentPage: page }; let i=index;">
              <td>
                <p class="summary">{{i + 1}}</p>
              </td>
              <td>
                <p class="summary">{{bus.name}}</p>
              </td>
              <td>
                <p class="summary">{{bus.plateNumber}}</p>
              </td>
              <td>
                <p class="summary">{{bus.type}}</p>
              </td>
              <td>
                <p class="summary">{{bus.stationName}}</p>
              </td>
              <td>
                <button class="btn btn-primary btn-xs" (click)="editForm(bus)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </td>
              <td>
                <button class="btn btn-danger btn-xs" (click)="deleteBus(bus)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12 text-center">
          <div class="col-md-12 text-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
