<div class="row">
  <div class="col-md-8">
    <h2>Bus List</h2>
    <ul>
      <li *ngFor="let bus of buses; let i=index">
        <span class="badge">{{i + 1}}</span>{{bus.name | uppercase}}
        <span> | {{bus.type}}  | {{bus.plateNumber}}</span>
        <span style="cursor: pointer;" (click)="deleteBus(bus)">delete</span>
        <span style="cursor: pointer;" (click)="updateBus(bus)">edit</span>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Add New Bus</h2>
    <form [formGroup]="busForm" (ngSubmit)="addBus()">
      <div class="form-group">
        <label for="name">Bus Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="type">Bus Type</label>
        <select class="form-control" id="type" formControlName="type" required>
          <option *ngFor="let busType of busTypes" [value]="busType">{{busType}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="station">Station</label>
        <select class="form-control" id="type" formControlName="station" required>
          <option *ngFor="let station of stations" [ngValue]="station">{{station.name}}</option>
        </select>
      </div>
      <p *ngIf="!isBusSlotFree" class="form-group">There is no free slot in this station.</p>
      <button type="submit" class="btn btn-success">Add Bus</button>
    </form>
  </div>
</div>
