<header class="masthead">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar">
        <div class="col-md-4">
          <a class="navbar-brand" href="#">
            <img alt="Flixbus" src="../assets/img/flix-bus.png" width="180px" height="92px">
          </a>
        </div>
        <div class="col-md-8">
          <ul class="nav navbar nav-pills pull-right">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/buses">Buses</a></li>
            <li><a routerLink="/stations">Stations</a></li>
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</header>
