
<h2>Bus Stations</h2>
<div>
  <div>
    <ul>
      <li *ngFor="let station of stations">
        {{station.name}}
      </li>
    </ul>
  </div>
  <div>
    <h2>Add New Station</h2>
    <div>
      <p>
        Value: {{ stationName.value }}
      </p>
      <div class="container">
        <!-- <form> -->
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [formControl]="stationName" required>
          </div>
          <button type="submit" (click)="addStation()"
            class="btn btn-success">Submit
          </button>
        <!-- </form> -->
      </div>
    </div>
  </div>

</div>
