<div class="container">
  <div class="row">
    <h2>Bus Stations</h2>
    <div *ngIf="showAddBtn" class="col-md-4">
      <button type="submit" class="btn btn-default" (click)="toggleForm()">Add Station</button>
    </div>
    <div *ngIf="showAddForm" class="col-md-12">
      <form class="form-inline" [formGroup]="stationForm" (ngSubmit)="addStation()">
        <div class="form-group">
          <label for="name">Station Name: </label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="e.g. Beryl" required>
        </div>
        <div class="form-group">
          <label for="num-of-slots">Number of Parking Slots: </label>
          <input type="number" class="form-control" id="num-of-slots" formControlName="numOfSlots" placeholder="e.g. 10"
            required>
        </div>
        <button type="submit" class="btn btn-success">Add Station</button>
        <button type="submit" class="btn btn-default" (click)="toggleForm()">Close</button>
      </form>
    </div>
    <div *ngIf="showEditForm" class="col-md-12">
      <form class="form-inline" [formGroup]="stationForm" (ngSubmit)="editStation()">
        <div class="form-group">
          <label for="name">Station Name: </label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="e.g. Beryl" required>
        </div>
        <div class="form-group">
          <label for="num-of-slots">Number of Parking Slots: </label>
          <input type="number" class="form-control" id="num-of-slots" formControlName="numOfSlots" placeholder="e.g. 10"
            required>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default" (click)="closeEditForm()">Cancel</button>
      </form>
    </div>
    <div class="col-md-12">
      <section class="content">
        <div class="table-container">
          <table class="table table-filter">
            <thead>
              <th>S/N</th>
              <th>Name</th>
              <th>Number of Parking Slots</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr *ngFor="let station of stations | paginate: { itemsPerPage: 10, currentPage: page }; let i=index;">
                <td>
                  <p class="summary">{{i + 1}}</p>
                </td>
                <td>
                  <p class="summary">{{station.name}}</p>
                </td>
                <td>
                  <p class="summary">{{station.numOfSlots}}</p>
                </td>
                <td>
                  <button class="btn btn-primary btn-xs" (click)="editForm(station)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger btn-xs" (click)="deleteStation(station)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class="col-md-12 text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
