h1 {
  font-size: 60px;
  margin: 80px 0;
}

.navbar {
  /* width: 400px; */
  margin: 0 auto;
}

.nav > li {
  margin-right: 30px;
}

.bus-btn {
  background-color: #69B218;
  color: white;
}

.bus-btn:hover {
  background-color: #eee;
  color: black;
}

.stat-btn {
  background-color: black;
  color: white;
}

.stat-btn:hover {
  color: black;
}
